.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input, label {
  text-align: start;
  margin: "10px";
  width: "250px";
}
button, input{
  cursor: pointer;
}
select, label{
  display: block;
}

br{
  clear: both;
}
div{
  float: left;
  margin-right: 150px;
  margin-top: 15px;
}

form{
  margin-top: 20px;
  margin-left: 30px;
}

.inline{
  display: inline;
  margin-right: 85px;
}
select{
  width: 15em;
  height: 2em;
}
hr{
  border-top: dotted 3px;
  color: gray;
}
.seatDesc > *{
  margin-right: 30px;
  font-size: 8pt;
}
.btn{
  margin-top: 20px;
  margin-left: 15px;
  border: none;
}
.customBtn{
  white-space: nowrap;
  text-align: center;
  width: 180px;
  height: 30px;
}
.marginLR
{
  margin-left: -95px;
  margin-right: 50px;
}
.negMargin
{
  margin-left: -170px;
}
